<!-- ユーザーの詳細 -->
<h3>User info</h3>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr>
      <td><h5>name</h5></td>
      <td><h5><%= user.name %></h5></td>
    </tr>
    <tr>
      <td><h5>introduction</h5></td>
      <td><h5><%= user.introduction %></h5></td>
    </tr>
    <tr>
      <td><h5>follows</h5></td>
      <td><%= link_to user_followings_path(user.id) do %>
        <%= user.followings.count %>
        <% end %></td>
    </tr>
    <tr>
      <td><h5>followers</h5></td>
      <td id="followers_counts_<%= user.id %>">
        <%= link_to user_followers_path(user.id) do %>
          <%= user.followers.count %>
        <% end %></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <% if user.id == current_user.id %>
    <div class="col-md-12">
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary", :style => "width: 100%;" do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
    </div>
  <% else %>
    <div class="col-md-7">
      <%= render "relationships/relationships", user: @user, type: @type %>
    </div>
    <div class="col-md-5">
      <%= render "messages/info", user: @user %>
    </div>
  <% end %>
</div>