<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 5%">image</th>
      <th style="width: 10%">name</th>
      <th style="width: 30%" colspan="2"></th>
      <th style="width: 20%"></th>
      <th style="width: 5%"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td id = "followings_counts_<%= user.id %>">
          <%= render "relationships/followings_count", user: user %>
        </td>
        <td id = "followers_counts_<%= user.id %>">
          <%= render "relationships/followers_count", user: user %>
        </td>
        <% if user.id == current_user.id %>
          <td></td>
        <% else %>
          <td id = "relationships_buttons_<%= user.id %>">
            <%= render "relationships/relationships", user: user %>
          </td>
        <% end %>
        <td><%= link_to "Show", user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--kaminari用-->
<%= paginate users %>