<div class="container"> 
  <div class="row"> 
    <div class="col-md-3">
      <!-- ユーザー情報 -->
      <%= render 'user_info', user: @user %>

      <!-- 新規投稿作成 -->
      <h3>New book</h3>
      <%= render 'layouts/message', resece: @book %>
      <%= render 'books/book_edit_form', book: @book %>
    </div>

    <div class="col-md-8  offset-md-1">
      <h3>Books</h3>
      <%= render 'books/books_table', books: @books %>

      <!-- 投稿数の前日比・先週比 -->
      <%= render 'users/user_post_ratio', today_book: @today_book,
        yesterday_book:@yesterday_book, this_week_book:@this_week_book, last_week_book:@last_week_book %>
    </div>
  </div>
</div>