<div class="container"> 
  <div class="row"> 
    <div class="col-md-3">
      <!-- ユーザー情報 -->
      <%= render 'user_info', user: @user %>

      <!-- 新規投稿作成 -->
      <h3>New book</h3>
      <%= render 'layouts/message', resece: @book %>
      <%= render 'books/book_edit_form', book: @book %>
    </div>

    <div class="col-md-8  offset-md-1">
      <!-- 投稿の表示 -->
      <h3>Books</h3>
      <%= render 'books/books_table', books: @books %>

      <!-- 投稿数の前日比・先週比 -->
      <%= render 'users/user_post_ratio', today_book: @today_book, yesterday_book: @yesterday_book,
        this_week_book: @this_week_book, last_week_book: @last_week_book %>

      <!-- 7日間の投稿数 -->
      <%= render 'users/user_week_post_graph', books: @books %>

      <!-- 指定日の投稿数検索 -->
      <%= render 'users/user_books_searches', user: @user, search_book: @search_book %>
    </div>
  </div>
</div>